*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

.centerme {
	text-align: center;
}

.left {
	float: left;
}

.right{
	float: right;
}

body {
	background: $bgcolor;
}

header {
	margin-top: 40px;
	text-align: center;
	font-family: $titlefont;
	font-size: 15pt;
	@include lillilbox();
	@include roundedcorners($roundness);
}

p {
	@include pbox();
	text-align: center;
	text-shadow: 2px, 2px, #ff0000;
	font-family: $pfont;
}

section {
	margin-top: 30px;
}

a:active{
	color: $bgcolor;
}

a:visited{
	color: rgb(33, 39, 54);

}

a:link{
	color: white;
}

a {
	
	margin-bottom: 10px;
	font-size: 20pt;
	text-shadow: 2px, 2px, #ff0000;
	font-family: $linkfont;
}



img {
	width: 100%;
	
		margin-top: 10px;

}

.container {
    background: $container;
    border: solid 1px black;
    padding: 10px;
    margin: 26px 31%;
    @include roundedcorners(10px);
   } 

a:hover {
	color: black;
	background: rgb(214, 162, 210);
}




/*@media query block medium tablet*/
@media only screen and (min-width: 1290px) and (max-width: 15000px) {

}/* end medium block*/

@media only screen and (max-width: 1000px) and (min-width: 1px) {
		h1{
		font-size: 20pt;
	}
	h2 {
		font-size: 11pt;
	}	
}

/*@media query block small mobile*/
@media only screen and (max-width: 480px) and (min-width: 1px) {
	section, img {
	max-width: 90%;
	float: none; 
	}	

	p {
		@include pbox();
		margin-left: 394px;
	}
	header{
		@include lillilbox();
		max-width: 86%;
	}
	h1{
		font-size: 10pt;
	}
	h2 {
		font-size: 9pt;
	}	


}/*end small block*/







