*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

.centerme {
	text-align: center;
}

.left {
	float: left;
}

.right{
	float: right;
}

body {
	background: $bgcolor;
}

header {
	margin-top: 40px;
	text-align: center;
	font-family: $titlefont;
	@include lillilbox();
}

p {
	@include pbox();
	text-align: center;
	text-shadow: 2px, 2px, #ff0000;
}

section {
	margin-top: 30px;
}

a:active{
	color: $bgcolor;
}

a {
	background-color: white;
	margin-bottom: 10px;
	font-size: 16pt;
	text-shadow: 2px, 2px, #ff0000;
}



img {
	width: 432px;
	height: 432px;
	margin-left: 20px;
	margin-top: 10px;

}

/*@media query block medium tablet*/
@media only screen and (min-width: 481px) and (max-width: 768) {

}/* end medium block*/

/*@media query block small mobile*/
@media only screen and (max-width: 480px) and (min-width: 1px) {
	section, img, {
	max-width: 96%;
	float: none; 
	}	

	p {
		@include pbox();
		margin-left: 148px;
	}
	header{
		@include lillilbox();
		max-width: 86%;
	}	

}/*end small block*/







