@import url('https://fonts.googleapis.com/css?family=Baloo|Muli|Nova+Mono');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


$bgcolor: rgba(75, 73, 143,1);
$maintext: rgba(75, 73, 143,1);
$paragraphtext: #75578F;
$boxcolor: rgba(246, 232, 255, 0.5);
$titlefont: 'Abril Fatface', cursive;