@import url('https://fonts.googleapis.com/css?family=PT+Serif|Ranga');
@import url('https://fonts.googleapis.com/css?family=Muli');


$primarycolor: #ff82b4;
$bgcolor: rgba(180, 231, 232, 1);
$price: rgba(255, 96, 86, 1);

$titlefont: 'Ranga', cursive;
$mainfont: 'Muli', sans-serif;

$boxcolor: rgba(205, 215, 232, 0.6);
$bordercolor: rgba(196, 215, 232, 1);
$footercolor: rgba(165, 176, 232, 0.5);



