@import url('https://fonts.googleapis.com/css?family=Baloo|Muli|Nova+Mono');

$bgcolor: rgba(255, 130, 180, 1);
$copycolor: rgba(215, 255, 210, 1);
$headercolor: rgba(232, 176, 56, 1);
$boxcolor: rgba(255, 213, 251, 1);
$bordercolor: rgba(180, 206, 232, 1);
$copyfont: 'Muli', sans-serif;
$headfont: 'Baloo', cursive;
$linkfont: 'Nova Mono', monospace;
$roundness: 20px;
